{% extends "base.html" %}
{% block title %} 
  {% if topic %}
    {{ topic.title }}课程
  {% else %}
    所有课程
  {% endif %}        
{% endblock %}

{% block content %}
<h1>
  {% if topic %}
    {{ topic.title }}课程
  {% else %}
    所有课程
  {% endif %}
</h1>
<div class="contents">
  <h3>按课题分类</h3>
    <ul id="modules">
      <li {% if not topic %} class="selected" {% endif %}>
        <a href="{% url 'course_list' %}">所有课程</a>
      </li>
      {% for t in topics %}
        <li {% if t == topic %} class="selected" {% endif %}>
          <a href="{% url 'course_list_topic' t.slug %}">{{t.title}}<br>
            <span>{{t.total_courses}}个课程</span>
          </a>
        </li>
      {% endfor %}
    </ul>
</div>
<div class="module">
  {% for course in courses %}
      <h3>
        <a href="{% url 'course_detail' course.slug %}">{{course.title}}</a>
      </h3>
      <p>
        {{course.total_modules}}个模块.
        讲师: {{course.owner.get_full_name}}
      </p>
  {% endfor %}
</div>
{% endblock %}

